---
apiVersion: v1
kind: ConfigMap
metadata:
  name: grafana-plugins
  namespace: {{ grafana_namespace }}
data:
  GF_INSTALL_PLUGINS: yesoreyeram-infinity-datasource
---
apiVersion: grafana.integreatly.org/v1beta1
kind: Grafana
metadata:
  name: grafana
  namespace: {{ grafana_namespace }}
  labels:
    dashboards: "grafana-dashboard"
spec:
  version: {{ grafana_image_tag }}
  deployment:
    envFrom:
      - configMapRef:
          name: grafana-plugins
    spec:
      template:
        spec:
          containers:
            - name: grafana
              resources:
                limits:
                  memory: {{ grafana_mem_limits }}
                requests:
                  cpu: {{ grafana_cpu_requests }}
                  memory: {{ grafana_mem_requests }}
  client:
    preferIngress: false
  route:
    spec:
      enabled: "True"
      pathType: Prefix
      path: "/"
  config:
    log:
      mode: "console"
      level: "error"
    log.frontend:
      enabled: "true"
    auth:
      disable_login_form: "False"
      disable_signout_menu: "True"
    auth.anonymous:
      enabled: "False"
    security:
      admin_user: {{ grafana_user }}
      admin_password: {{ grafana_password }}
    dataproxy:
      timeout: "'{{ dataproxy_timeout }}'"
      keep_alive_seconds: "'{{ dataproxy_keep_alive_seconds }}'"
  service:
    name: "grafana-service"
    labels:
      app: "grafana"
      type: "grafana-service"
  dashboardLabelSelector:
    - matchExpressions:
        - { key: app, operator: In, values: [grafana] }
