
Deployment Summary
------------------

Grafana Details
  Namespace : {{ grafana_namespace }}
  User      : {{ grafana_user }}
  Password  : {{ grafana_password }}
  Login URL : {{ grafana_route }}

Prometheus Datasource
  thanos URL      : {{ prometheus_route }}
  Service Account : {{ prometheus_service_account }}

