
Deployment Summary
------------------

Grafana Details
  Namespace : {{ grafana_namespace }}
  User      : {{ grafana_user }}
  Password  : {{ grafana_password }}
  Login URL : {{ grafana_route }}

Prometheus Datasource Connectivity
  Monitoring namespace : openshift-monitoring
  Prometheus URL       : {{ prometheus_route }}
  Service Account Used : {{ grafana_service_account }}
  Token used           : {{ token }}



