---
apiVersion: integreatly.org/v1alpha1
kind: GrafanaDataSource
metadata:
  name: infinity
  namespace: {{ grafana_namespace }}
spec:
  name: {{ infinity_datasource_name}}.yml
  datasources:
    - name: {{ infinity_datasource_name }}
      type: yesoreyeram-infinity-datasource
      isDefault: false
      version: 1
      editable: true
      jsonData:
        tlsSkipVerify: true
