---
apiVersion: grafana.integreatly.org/v1beta1
kind: GrafanaDatasource
metadata:
  name: prometheus
  namespace: {{ grafana_namespace }}
  annotations:
spec:
  name: {{ prometheus_datasource_name }}.yml
  datasource:
    name: {{ prometheus_datasource_name }}
    type: prometheus
    access: proxy
    url: {{ prometheus_route }}
    isDefault: true
    version: 1
    editable: true
    jsonData:
      tlsSkipVerify: true
      timeInterval: "10s"
      httpHeaderName1: 'Authorization'
      timeout: '{{ datasource_http_timeout }}'
    secureJsonData:
      httpHeaderValue1: 'Bearer {{ token }}'
  instanceSelector:
    matchLabels:
      dashboards: "grafana-dashboard"


